.cell[b-n1lpumz3pd] {
    
    background-color: #D32F2F;
    color: white;
    text-align:center;
    padding: 6px;
    border-radius: 10px;
    margin: 10px;
}
.link[b-n1lpumz3pd]{
   color:white;
   text-decoration:none;
}
