@page "/"

<section class="hero is-halfheight is-default is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1">
                    <h1 class="title is-2">
                        Welcome to 
                    </h1>
                </div>
                <div class="column is-5">
                    <figure class="image is-3by3">
                        <img src="img/logoslogan.jpg" alt="logoslogan">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>