@page "/gebruikers"
@attribute [Authorize(Roles = "Lader, Management")]
<PageTitle>Gebruikers</PageTitle>

<section class="section">
    <h1 class="title">Gebruikers:</h1>
    <div class="grid">
        @if (gebruikers is not null)
        {
            @foreach (var gebruiker in gebruikers)
            {
                    <div class="cell">
                        <a class="link" href="transportopdrachten?searchTerm=@gebruiker.Naam">
                            @gebruiker.Naam
                        </a>
                    </div>
            }
        } 
        else
        {
            <div class="block">
                Loading...
            </div>
        }
    </div>
</section>




