

<AuthorizeView>
    <Authorized>
        <button class="button is-ghost">@context.User.Identity.Name</button>
        <button class="button is-light" @onclick="BeginSignOut">
            <strong>Uitloggen</strong>
        </button>
    </Authorized>
    <NotAuthorized>
        <a class="button is-danger" href="authentication/login">
            <strong>Inloggen</strong>
        </a>
    </NotAuthorized>
</AuthorizeView>