@page "/transportopdracht/create"
@attribute [Authorize(Roles = Roles.Lader)]
<PageTitle>Transport Opdracht Aanmaken</PageTitle>

<EditForm Model="@opdracht" OnValidSubmit="@CreateOpdrachtAsync">
    <FluentValidationValidator/>

    <div class="field">
        <label class="label">Routenummer</label>
        <div class="control">
            <InputNumber class="input" @bind-Value="opdracht.Routenummer" />
            <ValidationMessage For="() => opdracht.Routenummer" />
        </div>
    </div>

    <div class="field">
        <label class="label">Lader</label>
        <div class="control">
            <InputText class="input" @bind-Value="opdracht.Lader" />
            <ValidationMessage For="() => opdracht.Lader" />
        </div>
    </div>
    
    <div class="field">
        <label class="label">Nummerplaat</label>
        <div class="control">
            <InputText class="input" @bind-Value="opdracht.Nummerplaat" />
            <ValidationMessage For="() => opdracht.Nummerplaat" />
        </div>
    </div>

    <div class="field">
        <label class="label">Datum</label>
        <div class="control">
            <InputDate class="input" @bind-Value="opdracht.Datum" />
            <ValidationMessage For="() => opdracht.Datum" />
        </div>
    </div>

    <div class="field">
        <div class="file has-name is-boxed is-fullwidth">
            <label class="file-label">
                <InputFile class="file-input" OnChange="@LoadImage" accept="image/*" />
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label has-text-centered">
                        @if (image is not null)
                        {
                            <span>Wijzig afbeelding</span>
                        }
                        else
                        {
                            <span>Selecteer een afbeelding</span>
                        }
                    </span>
                </span>
                @if (image is not null)
                {
                    <span class="file-name">
                        @image.Name
                    </span>
                }
            </label>
        </div>
        <ValidationMessage For="() => opdracht.ImageContentType" />
    </div>

    <div class="buttons">
        <button class="button is-primary is-fullwidth" type="submit">Toevoegen</button>
        <a href="transportopdrachten" class="button is-link is-light is-fullwidth">Annuleren</a>
    </div>
</EditForm>
