@page "/transportopdrachten"
@using SVK.Shared.Authentication
<PageTitle>TransportOpdrachten</PageTitle>
@attribute [Authorize(Roles = "Lader, Management")]

<div class="container">
    <h1 class="title">Transport Opdrachten:</h1>
    <div class="container">
        <AuthorizeView Roles="@Roles.Lader">
            <a href="transportopdracht/create" class="button is-light is-danger mb-3 has-text-black">Toevoegen</a>
        </AuthorizeView>
        <div class="columns">
            <div class="column">
                <div class="control has-icons-left is-expanded">
                    <input class="input" type="search" placeholder="Zoeken..." value="@searchTerm" @onchange="SearchTermChanged">
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    @if(opdrachten is null)
    {
        <p>Loading...</p>
    }else{
        <div class="columns">
            <div class="column">
                @if (!opdrachten.Any())
                {
                    <div class="notification">
                        Geen opdrachten gevonden voor deze zoekcriteria
                    </div>
                }
                else
                {
                  <div class="columns is-multiline">

                    @foreach (var opdracht in opdrachten)
                    {
                        <div class="column is-half">
                            <ListItem Opdracht= "opdracht"/>
                        </div>
                    }
                </div>  
                }
            </div>
        </div>
    }

</div>
