/* /Gebruikers/Gebruikers.razor.rz.scp.css */
.cell[b-n1lpumz3pd] {
    
    background-color: #D32F2F;
    color: white;
    text-align:center;
    padding: 6px;
    border-radius: 10px;
    margin: 10px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-257hek6lcx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-257hek6lcx] {
    flex: 1;
}

.sidebar[b-257hek6lcx] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-257hek6lcx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-257hek6lcx]  a, .top-row[b-257hek6lcx]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-257hek6lcx]  a:hover, .top-row[b-257hek6lcx]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-257hek6lcx]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-257hek6lcx] {
        display: none;
    }

    .top-row.auth[b-257hek6lcx] {
        justify-content: space-between;
    }

    .top-row[b-257hek6lcx]  a, .top-row[b-257hek6lcx]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-257hek6lcx] {
        flex-direction: row;
    }

    .sidebar[b-257hek6lcx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-257hek6lcx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-257hek6lcx]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-257hek6lcx], article[b-257hek6lcx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/MenuComponent.razor.rz.scp.css */
.navbar[b-6q1yhpum5m]{
    height: 10vh;

}

img[b-6q1yhpum5m]{
    height: 100%; 
    
}

.navbar-item:hover[b-6q1yhpum5m] {
    background-color: #D32F2F;
    color: white; 
  
}
.loginbuttons[b-6q1yhpum5m]{
    padding: 8px 12px 8px 12px
}
.custom-hover:hover[b-6q1yhpum5m] {
    background-color: #2d2d2d; /* A lighter shade of black */
    color: white; /* Ensure text color stays visible */
}

.logo:hover[b-6q1yhpum5m]{
    background-color:white;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-xqbrrsifrg] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-xqbrrsifrg] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-xqbrrsifrg] {
    font-size: 1.1rem;
}

.oi[b-xqbrrsifrg] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-xqbrrsifrg] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-xqbrrsifrg] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-xqbrrsifrg] {
        padding-bottom: 1rem;
    }

    .nav-item[b-xqbrrsifrg]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-xqbrrsifrg]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-xqbrrsifrg]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-xqbrrsifrg] {
        display: none;
    }

    .collapse[b-xqbrrsifrg] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
